<div class="row p-2 mb-2">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.550163768876!2d78.38469997608041!3d17.433362501477266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91577843a5c1%3A0x7c5d66a2f56dfe4e!2sSanali%20Spazio!5e0!3m2!1sen!2sin!4v1706865370614!5m2!1sen!2sin"
        width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="card-header p-0 p-md-4 border-bottom-0 bg-gradient-primary-to-secondary">
    <div class="row justify-content-between align-items-center p-3 text-bg-secondary">
        <div class="col-md-3">
            <div class="row">
                <div class="col-12 text-dark-75 mb-3">
                    <h4 class="text-dark">Registration No</h4>
                    {{showdata?.registrationNo}}
                </div>
                <div class="col-12 text-dark-75 mb-3">
                    <h4 class="text-dark">VIN_number</h4>
                    {{showdata?.VIN_number}}
                </div>
                <div class="col-12 text-dark-75 mb-3">
                    <h4 class="text-dark">Manufacturing Year</h4>
                    {{showdata?.manufacturingYear}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">Vehicle Model</h4>
                {{showdata?.vehicleModel}}
            </div>
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">Color</h4>
                {{showdata?.color}}
            </div>
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">RC Status</h4>
                {{showdata?.RCStatus}}
            </div>
    
        </div>
        <div class="col-md-3">
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">RTO</h4>
                {{showdata?.RTO}}
            </div>
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">Primary Owner</h4>
                {{showdata?.primaryOwner}}
            </div>
            <div class="col-12 text-dark-75 mb-3">
                <h4 class="text-dark">Owner Address</h4>
                {{showdata?.ownerAddress}}
            </div>
        </div>
    </div>
</div>
